@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');
body {
  background-color: #f5f5f5;
}

.centerContent {
  margin-top: 15vh;
  text-align: center;
  align-items: center;
}

.imgManutencao {
  width: 350px;
}

.networkInfo {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  margin-top: 20px;
  font-size: 35px;
  font-family: 'Cabin', sans-serif;
  color: #004266;
}

.socialNetwork {
  display: inline-flex;
}

.logoNetwork {
  margin: 10px;
  margin-top: 30px;
  width: 70px;
}

.socialNetwork img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .imgManutencao {
    width: 300px;
  }
  .networkInfo {
    max-width: 400px;
    font-size: 27px;
    color: #004266;
  }
  .logoNetwork {
    margin: 10px;
    margin-top: 30px;
    width: 50px;
  }
}

@media (max-width: 425px) {
  .imgManutencao {
    width: 200px;
  }
  .networkInfo {
    max-width: 300px;
    font-size: 17px;
    color: #004266;
  }
  .logoNetwork {
    margin: 10px;
    margin-top: 30px;
    width: 30px;
  }
}